/* mystyles.css */
/* BODY OF THE WEBSITE PAGE */
body { margin: 0; background: rgb(155,175,221); height: 100vh; padding: 0; z-index: 1; font-family: Georgia, serif; }
	
* { box-sizing: border-box; border-width: 0; border-style: solid; border-color: #e5e7eb; }

:before, :after { box-sizing: inherit; }

.bars { background: rgb(22,63,101); position: fixed; z-index: 2; }

#topbar { left: 0; top: 0; right: 0; height: 1rem; }
	
#leftbar { left: 0; top: 0; bottom: 0; width: 1rem; }

#rightbar { right: 0; top: 0; bottom: 0; width: 1rem; }
	
#bottombar { right: 0; left: 0; bottom: 0; height: 1rem }

/* TOP OF THE WEBSITE PAGE */
header { position: relative; top: 2rem; left: 2rem; right: 2rem; width: 96%; z-index: 3; padding-top: 1rem; padding-bottom: 1rem; height: 100px; }

.spacer { height: 50px; width: 150px; }

header nav { align-items: center; justify-content: space-between; text-align: center; padding-top: 10px;}

ul { list-style: none; margin: 0; padding: 0; }

li { line-height: 1.5rem; }

header nav > ul > li > .active { opacity: 1; }

header nav > ul > li > .non-active { opacity: .5; }

header nav > ul > li > a { padding: 0.75rem; font-weight: 700; text-transform: uppercase; color: rgb(255,255,255); text-shadow: 2px 2px rgb(0,0,0); text-decoration: none; }

header nav > ul > li > a:hover { color: rgb(230,195,53); opacity: 1; background-color: rgb(155,175,221); }
	
.topbar-container { margin-left: auto; margin-right: auto; padding-left: 2rem; padding-right: 2rem; align-items: center; }
	
.logo { color: rgb(230,195,53); font-size: 30px; text-shadow: 2px 2px rgb(0,0,0); text-decoration: none; }

/* SPACE BETWEEN HEADER AND MAIN CONTENT */
.spacer2 { width: 100%; height: 25px;}

/* MAIN CONTENT STYLING */
.types { float: left; width: 15%; height: 700px; background: rgb(0,0,0); padding: 0px; }

/* GUIDES LINKS STYLE */
#g-links a { color: rgb(0,176,240); }
#g-links a:visited { text-decoration: none; color: rgb(0,176,240); }
#g-links a:hover { text-decoration: none; color: rgb(250,250,0); }
#g-links a:focus { text-decoration: none; color: rgb(0,176,240); }
#g-links a:hover, a:active { text-decoration: none; color: rgb(0,176,240); }

/* LEFT NAVIGATION MENU */
table { padding: 20px; margin: 0; }

tr, td { padding: 1px; margin: 1px; }

.buffer { height: 15px; width: 20px; }

.link { color: rgb(255,255,255); text-decoration: none; text-align: center; }

td a:hover { color: rgb(255,255,0); text-shadow: 1px 1px rgb(255,255,255); }

main section table tr td a.active { color: rgb(255,255,0); text-shadow: 1px 1px rgb(255,255,255);}

article { display: block; float: left; padding: 20px; width: 65%; background-color: rgb(255,255,255); height: 700px; }

aside { float: left; padding: 20px; width: 20%; background-color: rgb(0,0,0); height: 700px; }

.footer-container { margin-left: auto; margin-right: auto; padding-left: 2rem; padding-right: 2rem; align-items: center; }

/* REDUNDANT CODE */
.grid-layout { display: grid; }

.grid-flow-column { grid-auto-flow: column;}

/* CODE FOR NEXT PREVIOUS SEO TYPE NAVIGATION BOX */

.prev-box1 { position: fixed; left: 15%; top: 79%; width: 30px; }

.prev-box2 { position: fixed; width: 195px; height: 60px; top: 79%; left: 16.85%; }

.prev-img-box { display: block; background-color: rgb(0,0,0); width: 35px; height: 60px; cursor: pointer; padding-top: 10px; padding-left: 3px;}

.prev-arrow { width: 20px; height: 40px;}

.prev-overlay { background-color: rgb(155,175,221); position: absolute; overflow: hidden; width: 0; height: 100%; transition: .3s ease; }

.prev-text { color: white; font-size: 23px; position: absolute; top: 50%; left: 55px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); white-space: nowrap; text-shadow: 1px 1px rgb(0,0,0); }

.prev-box1:hover ~ .prev-box2 .prev-overlay { width: 100%; }

.prev-box2:hover .prev-overlay { width: 100%; }

.prev-text:hover { cursor: pointer; color: black; text-shadow: 1px 1px rgb(255,255,255); }

.next-box1 { position: fixed; right: 20.2%; top: 79%; width: 30px; }

.next-box2 { position: fixed; width: 195px; height: 60px; top: 79%; right: 21.75%; }

.next-img-box { display: block; background-color: rgb(0,0,0); width: 35px; height: 60px; cursor: pointer; padding: 10px; }

.next-arrow { width: 20px; height: 40px; }

.next-overlay { box-shadow: inset 0 0 0 0 rgb(155,175,221); position: absolute; overflow: hidden; width: 0; height: 100%; transition: box-shadow .3s ease-in-out; }

.next-text { color: white; font-size: 23px; position: absolute; top: 50%; right: -35px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); white-space: nowrap; text-shadow: 1px 1px rgb(0,0,0); }

.next-box1:hover ~ .next-box2 .next-overlay { width: 100%; box-shadow: inset -195px 0 0 0 rgb(155,175,221); }

.next-box2:hover .next-overlay { width: 100%; box-shadow: inset -195px 0 0 0 rgb(155,175,221); }

.next-text:hover { cursor: pointer; color: black; text-shadow: 1px 1px rgb(255,255,255); }

/* Responsive layout */


/* OLD CODE - GOOD REFERENCE */
/*
nav[role="types-menu"] ul
{ padding-top: 0; padding-left: 30px; }

nav[role="types-menu"] ul li a
{ padding: 0.75rem; font-weight: 700; text-transform: uppercase; color: rgb(255,255,255); text-shadow: 2px 2px rgb(0,0,0); text-decoration: none; }

nav[role="types-menu"] ul li a:hover
{ color: rgb(100,200,100); text-decoration: none; }

nav[role="types-menu"] ul li active
{ color: rgb(100,200,100); text-decoration: none; }
*/
