/* mystyles.css */

/* BODY CONTENT STYLING */
body { 
	margin: 0; 
	font-family: Georgia, serif; 
	background-color: rgb(51,51,51); 
}
	
/*a:not(:empty) { 
	min-height: 24px; 
	display: inline-block; 
	vertical-align: middle;
}*/

.container {
	display: grid;
	grid-template-rows: 60px; 90vh;
	grid-template-columns: 10% 80% 10%;
	/*width: 100%;*/
	background-color: rgb(51,51,51);
	align-content: center;
}

/* TOP NAVIGATION CONTENT STYLING */
.header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	min-height: 60px;
	background-color: rgb(51,51,51);
	top: 0;
	z-index: 5;
	position: relative;
	position: sticky;
	line-height: initial;
}

.header-nav #seo_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.header-nav #seo_logo > a {
	text-align: center;
	align-content: middle;
}

.logo { 
	color: rgb(230,195,53); 
	/*text-align: center;*/
	padding: 19px; 
	text-decoration: none; 
	font-size: 22px; 
	text-shadow: 2px 2px rgb(0,0,0); 
}

.menu-chng {
	cursor: pointer;	
	color: rgb(255,255,255); 
	text-align: center; 
	padding: 18px 14px; 
	text-decoration: none; 
	font-size: 15px; 
	align-content: center; 
	text-transform: uppercase;
}

.menu_list > p {
	margin: 2px;
}

.active { 
	opacity: 1; 
}

.non-active { 
	opacity: .5; 
}

#nav_menu > li {
	display: grid;
	grid-template-columns: auto;
	float: left;
	height: 60px;
	align-items: center;
}

#nav_menu > li > a {
	color: rgb(255,255,255); 
	text-align: center; 
	padding: 10px; 
	text-decoration: none; 
	font-size: 13px;
	text-transform: uppercase; 
	font-weight: 700; 
	list-style: none;
}

#nav_menu > li > a:hover {
	color: rgb(0,0,0); 
	background-color: rgb(230,195,53)
}

.menu_list > p {
	display: none;
}

#page_types > ul {
	list-style: none;
	background-color: rgb(51,51,51); 
	width: 100%; 
	height: 60px; 
	line-height: initial;
	margin: 0;
	padding: 0;
}


/* MAIN CONTENT STYLING */
.blank {	
	background-color: rgb(51,51,51);
}

.main-nav { 
	padding: 1rem; 
	background-color: rgb(255,255,255);	
}
/* SEO TYPES RIBBON */
#seo_types {
	background-color: rgb(51,51,51); 
	width: 100%; 
	height: 45px; 
	line-height: initial;
}

#seo_types > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
}

.types_list > p {
	cursor: pointer;
	display: -webkit-box;
	-webkit-box-align: center;
	display: -ms-flexbox;
	-ms-flex-align: center;
	display: flex;
	align-items: center;
	position: relative;
	right: 0;
	text-transform: uppercase; 
	font-weight: 700; 
	font-size: 14px; 
	color: rgb(255,255,255);
}

.types_list > p:hover, i:hover {
    background-color: rgb(230,195,53);
	color: rgb(0,0,0);
}

.types_list:after {
   border-left: 2px solid rgb(229,229,229);
   content: "";
   height: 2rem;
}
	
#typeslist_menu > li > a {
    padding: 1rem 1.5rem;
    color: rgb(255,255,255);
}

#typeslist_menu > li > a:hover {
    background-color: rgb(230,195,53);
	color: rgb(0,0,0);
}

.types_list {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
	right: 0;
}

.types_list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: .5rem 1rem;
    text-align: center;
    white-space: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.types_list p .types_icon {
    padding: 5px;
    margin-top: 0;
    margin-left: .5rem;
    font-size: 15px;
}
	
.types_list.active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
	
.types_list ul {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    z-index: 25;
    padding: 0;
    margin: 0;
    position: absolute;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    right: unset;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    list-style: none;
}

#typeslist_menu li {
    width: 100%;
    border-top: 1px solid rgb(237,237,237);
}

#typeslist_menu ul li:first-child {
    border: none;
}

#typeslist_menu li a {
    display: block;
    white-space: nowrap;
    padding: .5rem;
    color: rgb(0,0,0);
    text-decoration: none;
    min-height: auto;
}

#typeslist_menu > li > a:hover {
    background-color: rgb(70,81,206);
    color: rgb(255,255,255);
}

.main-content {
	width: 100%;
}

/* GUIDES STYLES */
#g-links { 
	text-decoration: none; 
	color: rgb(0,176,240);
}

#g-links:visited { 
	text-decoration: none; 
	color: rgb(0,176,240); 
}

#g-links:hover { 
	text-decoration: none; 
	color: rgb(230,195,53);
}

#g-links:focus { 
	text-decoration: none; 
	color: rgb(0,176,240); 
}

#g-links:active { 
	text-decoration: none; 
	color: rgb(0,0,0); 
}

/* QUIZ ME! STYLES */
#beginButton {
	cursor: pointer; 
}

#beginButton:hover { 
	background-color: rgb(0,0,0); 
	color: rgb(255,255,225); 
}

#quizBtn { 
	cursor: pointer; 
}

#quizBtn:hover { 
	background-color: rgb(0,0,0); 
	color: rgb(255,255,225); 
}

.answer-box { 
	width: 200px; 
	height: 30px; 
	/*border: 1px solid rgb(0,0,0);*/ 
	background-color: rgb(255,255,0); 
	padding: 5px; 
	font-size: 16px; 
}

/* RESPONSIVE TECHNOLOGY - Breakpoint 1	*/
@media screen and (max-width: 1150px) {
.logo {
	
}

.menu_list > p { 
	float: right;
	display: block;
	position: relative; 
	right: 0; 
	top: 0;	
}

#nav_menu > li > a {
    padding: 1rem 1.5rem;
    color: rgb(255,255,255);
}

#nav_menu > li > a:hover {
    background-color: rgb(230,195,53);
	color: rgb(0,0,0);
}

.menu_list {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
	right: 0;
}

.menu_list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: .5rem 1rem;
    text-align: center;
    white-space: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.menu_list p .types_icon {
    padding: 5px;
    margin-top: 0;
    margin-left: .5rem;
    font-size: 15px;
}
	
.menu_list.active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
	
.menu_list ul {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    z-index: 25;
    padding: 0;
    margin: 0;
    position: absolute;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    right: unset;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    list-style: none;
}

#nav_menu li {
    width: 100%;
    border-top: 1px solid rgb(237,237,237);
}

#nav_menu ul li:first-child {
    border: none;
}

#nav_menu li a {
    display: block;
    white-space: nowrap;
    padding: .5rem;
    color: rgb(0,0,0);
    text-decoration: none;
    min-height: auto;
}

#nav_menu > li > a:hover {
    background-color: rgb(70,81,206);
    color: rgb(255,255,255);
}
}

/* RESPONSIVE TECHNOLOGY - Breakpoint 2	*/
@media screen and (min-width: 1151px) and (max-width: 1225px) {
.logo { 
	padding: 19px; 
	font-size: 18px; 
}
	
}

/* RESPONSIVE TECHNOLOGY - Breakpoint 3	*/
@media screen and (min-width: 320px) {
.logo { 
	padding: 19px; 
	font-size: 14px; 
}
